<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>sr-indicators</title>
    <style>
        html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td, br, fieldset, textarea {
            word-spacing: 1px;
            margin: 0;
            padding: 0;
            border: 0;
            vertical-align: baseline;
        }

        html, body {
            margin: 0;
            /*height: 100vh;*/
            width: 100%;
            padding: 0;
            overflow-x: hidden;
        }

        * {
            font-family: sans-serif;
        }
    </style>
</head>
<body>
<noscript>
    <strong>We're sorry but sr-indicators doesn't work properly without JavaScript enabled. Please enable it to
        continue.</strong>
</noscript>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>
</html>
