<template>
    <div class="card">
        <div class="values">
            <div v-bind:class="{
                'blink': blink,
                'big-value': true
            }">
                <apexchart type="radialBar" :options="generateCircularChart()"
                           :series="[computeValue(value, minValue, maxValue)]"
                           height=250px></apexchart>
                <div class="icon"
                     v-bind:style="{
                     'background-color': colorFunction(value),
                     '-webkit-mask-image': 'url(' + require(`../assets/${png}.png`) + ')',
                     'mask-image': 'url(' + require(`../assets/${png}.png`) + ')'
                     }"
                ></div>
                <div class="min-max">
                    <div class="mvalue min">
                        {{this.minValue}}
                    </div>
                    <div class="spacer"></div>
                    <div class="mvalue max">
                        {{this.maxValue}}
                    </div>
                </div>
            </div>

        </div>
        <div class="chart">
            <apexchart type="bar"
                       :options="generateHistorySettings()"
                       :series="historyData" height=85px
                       width=250px></apexchart>
        </div>
        <div class="label" v-bind:style="`color: ${colorFunction(value)};`">
            {{name}}
        </div>
    </div>
</template>

<script>
    export default {
        name: "Indicator",
        props: {
            png: String,
            symbol: String,
            value: Number,
            minValue: Number,
            maxValue: Number,
            name: String,

            historyLabels: Array,
            historyData: Array,

            colorFunction: Function,

            blink: {
                type: Boolean,
                default: false
            },
        },
        methods: {
            computeValue: function (value, minValue, maxValue) {
                if (value > maxValue) return 100;
                if (value < minValue) return 0;
                const step = (maxValue - minValue) / 100;
                return (value - minValue) / step;
            },
            generateHistorySettings() {
                return {
                    chart: {
                        toolbar: {
                            show: false
                        }
                    },
                    // eslint-disable-next-line no-unused-vars
                    colors: [(value, seriesIndex, w) => {
                        return this.colorFunction(value.value);
                    }],
                    dataLabels: {
                        enabled: false,
                    },
                    xaxis: {
                        labels: {
                            show: true, style: {
                                colors: ["d4d5d5"],
                                fontSize: '10px',
                            },
                            maxHeight: 23,
                            offsetY: -3
                        },
                        type: 'datetime',
                        categories: this.historyLabels,
                    },
                    yaxis: {
                        labels: {show: false},
                        max: Math.max(...this.historyData[0]["data"]),
                        min: Math.min(...this.historyData[0]["data"]) - (this.maxValue - this.minValue) * 0.1
                    },
                    grid: {show: false},
                    tooltip: {enabled: false},
                };
            },
            generateCircularChart() {
                if (this === undefined) return {};
                return {
                    width: 100,
                    height: 100,
                    plotOptions: {
                        size: 100,
                        radialBar: {
                            startAngle: -145,
                            endAngle: 145,
                            track: {
                                background: '#BDBDBD',
                                startAngle: -145,
                                endAngle: 145,
                                margin: 10,
                            },
                            dataLabels: {
                                name: {
                                    show: false,
                                },

                                value: {
                                    fontSize: "32px",
                                    textAnchor: 'top',
                                    offsetX: 0,
                                    offsetY: 10,
                                    show: true,
                                    // eslint-disable-next-line no-unused-vars
                                    formatter: (val) => {
                                        // eslint-disable-next-line no-console
                                        return `${this.value}${this.symbol}`;
                                    }
                                }
                            },
                        },
                    },
                    fill: {
                        type: "solid",
                        // eslint-disable-next-line no-unused-vars
                        colors: [(value, seriesIndex, w) => {
                            return this.colorFunction(this.value);
                        }],
                    },
                    stroke: {
                        lineCap: "round",
                    },
                };
            }
        },
    }
</script>

<style lang="scss">
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;

        .values {
            display: flex;
            flex-direction: row;

            .value {
                display: flex;
                flex: 1 0 33%;
            }

            .big-value {
                display: flex;
                align-items: center;
                flex-direction: column;
                flex: 1 0 33%;
                margin-top: -24px;

                .icon {
                    width: 24px;
                    height: 24px;
                    margin-top: -44px;
                    mask-size: contain;
                    mask-repeat: no-repeat;
                    mask-position: center;
                }
            }


        }

        .chart {

            margin-top: -24px;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 0;
        }
    }

    .blink {
        animation: blink 1s linear infinite;
    }

    @keyframes blink {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    .label {
        margin-top: -33px;
        font-size: 10px;
        text-align: center;
    }

    .min-max {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: -7px;
        width: 120px;

        .mvalue {
            color: lightgrey;
            font-size: 12px;
            flex-grow: 1;
            display: flex;
            justify-content: center;

        }
    }
</style>

