<template>
    <div class="main">
        <div class="header">
            <div class="date">
                {{now | moment("DD.MM.YYYY")}}
            </div>
            <div class="time">
                {{now | moment("HH:mm")}}
            </div>
            <div class="menu" @click.stop="open">
                <img class="icon" src="../assets/menu.svg">
            </div>
        </div>
        <div class="indicators">
            <div class="title">Показатели качества воздуха в помещении</div>
            <div style="position: relative">
                <indicator class="indicator"
                           png="co2"
                           name="Содержание углекислого газа"
                           :color-function="co2Function"
                           :value="co2"
                           :symbol="``"
                           :max-value="1500"
                           :min-value="0"
                           :history-labels="Object.keys(co2History)"
                           :history-data="historyData(co2History)"
                           :blink="alertCo2 && !notifiedCo2"></indicator>
                <div class="button" v-if="alertCo2 && !notifiedCo2" v-on:click="stopSound()">
                    OK
                </div>
            </div>
            <indicator class="indicator"
                       png="temp"
                       name="Температура воздуха"
                       :color-function="tempFunction"
                       :value="temp"
                       :symbol="`ºC`"
                       :max-value="35"
                       :min-value="15"
                       :history-labels="Object.keys(tempHistory)"
                       :history-data="historyData(tempHistory)"></indicator>
            <indicator class="indicator"
                       png="drop"
                       name="Относительна влажность воздуха"
                       :color-function="humidityFunction"
                       :value="humidity"
                       :symbol="`%`"
                       :max-value="100"
                       :min-value="0"
                       :history-labels="Object.keys(humidityHistory)"
                       :history-data="historyData(humidityHistory)"></indicator>
        </div>

        <vue-context ref="menu">
            <li>
                <div class="item">Device ID: {{getDeviceId()}}</div>
            </li>
            <li>
                <div class="item" v-on:click="reloar()">Обновить</div>
            </li>
        </vue-context>
    </div>

</template>

<script>
    import Indicator from "./Indicator";
    import {VueContext} from 'vue-context';

    const axios = require("axios");
    const audio = new Audio(require('../assets/beep.wav'));
    audio.loop = true;

    audio.load();
    // audio.play();
    // audio.pause();
    export default {
        name: "Main",
        components: {Indicator, VueContext},
        data: function () {
            return {
                name: 'David',
                now: 0,
                co2: 0,
                temp: 0,
                humidity: 0,

                alertCo2: false,
                notifiedCo2: false,

                co2History: {},
                tempHistory: {},
                humidityHistory: {},

                co2Function: function (value) {
                    if (value < 800) {
                        return "#558B2F"
                    } else if (value >= 800 && value < 1000) {
                        return "#FF8F00"
                    } else {
                        return "#b71c1c"
                    }
                },


                tempFunction: function (value) {
                    if (value < 17) {
                        return "#2196F3"
                    } else if (value >= 17 && value < 21) {
                        return "#FF8F00"
                    } else if (value >= 21 && value < 25) {
                        return "#558B2F"
                    } else if (value >= 25 && value < 26) {
                        return "#FF8F00"
                    } else {
                        return "#b71c1c"
                    }
                },
                humidityFunction: function (value) {
                    if (value < 15) {
                        return "#b71c1c"
                    } else if (value >= 15 && value < 30) {
                        return "#FF8F00"
                    } else if (value >= 30 && value < 70) {
                        return "#558B2F"
                    } else {
                        return "#FF8F00"
                    }
                    //Влажность:
                    //    0 до 15% красная
                    //15 до 30 желтый
                    //30 до 70 зеленый
                    //Больше 70 желтый
                }
            }
        },
        mounted() {
            this.updateNow();
            setInterval(this.updateNow.bind(this), 1000);
            this.updateData();
            setInterval(this.updateData.bind(this), 60000);
        },
        methods: {
            reloar() {
                window.location.reload()
            },
            open(event) {
                this.$refs.menu.open(event);
            },
            updateNow() {
                this.now = Math.round(Date.now() / 1000)
            },
            getDeviceId() {
                return this.$route.query.device_id;
            },

            updateData() {
                axios.post("http://devonline.svetosystem.ru/api/mobile/v1/air-quality-stat", {
                    "deviceId": this.getDeviceId(),
                    // "test": true,
                }, {
                    headers: {
                        "Content-Type": "application/json",
                        "Token": "eyJhbGciOiJIUzUxMiJ9.eyJjbGllbnRUeXBlIjoidXNlciIsInRva2VuX2V4cGlyYXRpb25fZGF0ZSI6MTU2NzYwODEzNzU5MSwidXNlck5hbWUiOiJhdiIsInVzZXJJRCI6IjIiLCJ0b2tlbl9jcmVhdGVfZGF0ZSI6MTU2NTAxNjEzNzU5MX0.L4MIy7HV4FeRRn1immN3SX2weh6uQqTw8ghorPfOefYDLjH5rqTIbpBys5Z4a7Z9-MRZRFG3cK1DDkFEcjYDxg",
                    },
                })
                    .then(res => {
                        const data = res.data.hourStat[res.data.hourStat.length - 1]
                        this.co2 = Math.round(data.co2);
                        this.temp = data.temp;
                        this.humidity = Math.round(data.humidity);
                        const co2History = {};
                        const tempHistory = {};
                        const humidityHistory = {};
                        res.data.dayStat.forEach((element) => {
                            const date = new Date(element.date).toISOString();
                            co2History[date] = element.co2;
                            tempHistory[date] = element.temp;
                            humidityHistory[date] = element.humidity;
                        });
                        this.co2History = co2History;
                        this.tempHistory = tempHistory;
                        this.humidityHistory = humidityHistory;

                        if (this.co2 > 1100) {
                            if (!audio.isPaused) audio.play();
                            this.alertCo2 = true;
                        } else {
                            this.alertCo2 = false;
                            this.notifiedCo2 = false;
                            audio.pause();
                        }

                    })
            },
            historyData(history) {
                return [
                    {data: Object.values(history)}
                ];
            },
            stopSound() {
                this.notifiedCo2 = true;
                audio.pause();
            }
        }
    }
</script>

<style lang="scss">
    .main {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        background-image: url("../assets/background.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        .header {
            position: absolute;
            z-index: 100;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 60px;
            width: 100%;
            background-color: #E0E0E0;

            font-weight: 500;
            font-size: 22px;
            color: #757575;

            .date, .time, .menu {
                flex: 1 0 32%;
            }

            .date {
                padding-left: 16px;
            }

            .time {
                justify-content: center;
                display: flex;
            }

            .menu {
                display: flex;
                justify-content: flex-end;

                .icon {
                    margin-right: 16px;
                    width: 32px;
                    height: 32px;
                }
            }
        }

        .indicators {
            overflow: scroll;
            padding-top: 64px;

        }
    }

    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        width: 100px;
        height: 50px;
        background-color: #b71c1c;
        position: absolute;
        right: 30px;
        top: 48px;
    }

    .item {
        padding: 16px;
        cursor: pointer;
    }

    .title {
        padding: 16px 64px 0;
        font-size: 15px;
        text-align: center;
    }

</style>
